In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

.

In [4]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

scaler = MinMaxScaler()
df.drop(columns = ['date'], inplace = True)
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.428571,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.428571,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.428571,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.571429,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.571429,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [5]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
model = linear_model.LinearRegression()
r1 = df['T2'].values.reshape(-1,1)
r2 = df['T6'].values.reshape(-1,1)

x_train, x_test, y_train, y_test = train_test_split(r1, r2, test_size=0.2)
model.fit(x_train,y_train)

pred = model.predict(x_test)

from sklearn.metrics import r2_score

r2Val = r2_score(y_test, pred)
r2Val

0.6333172156919242

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [6]:
df.drop(columns = ['lights'], inplace = True)

data = df.drop(columns = ['Appliances'])
ans = df['Appliances']


x_train, x_test, y_train, y_test = train_test_split(data, ans, test_size=0.3, random_state=42)
model.fit(x_train,y_train)

pred = model.predict(x_test)

from sklearn.metrics import mean_absolute_error
err = mean_absolute_error(y_test,pred)
err = round(err,2)
err

0.05

What is the Residual Sum of Squares (in two decimal places)?

In [7]:
rss = np.sum(np.square(y_test - pred))
rss = round(rss,2)
rss

45.35

What is the Root Mean Squared Error (in three decimal places)?

In [8]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
rmse = round(rmse, 3)
rmse

0.088

What is the Coefficient of Determination (in two decimal places)?

In [9]:
r2Val2 = r2_score(y_test, pred)
r2Val2 = round(r2Val2, 2) 
r2Val2

0.15

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [10]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

m_weights = get_weights_df(model,x_train,'Weights')
m_weights

       Features       Weights
0           rv2 -1.015533e+11
1          RH_2 -4.565919e-01
2         T_out -3.218770e-01
3            T2 -2.361085e-01
4            T9 -1.899052e-01
5          RH_8 -1.575797e-01
6        RH_out -7.770147e-02
7          RH_7 -4.461393e-02
8          RH_9 -3.979075e-02
9            T5 -1.566763e-02
10           T1 -3.281051e-03
11  Press_mm_hg  6.833063e-03
12           T7  1.028000e-02
13   Visibility  1.230683e-02
14         RH_5  1.599222e-02
15         RH_4  2.638813e-02
16           T4  2.902544e-02
17    Windspeed  2.918266e-02
18         RH_6  3.805852e-02
19         RH_3  9.595502e-02
20           T8  1.019980e-01
21    Tdewpoint  1.177598e-01
22           T6  2.363886e-01
23           T3  2.905522e-01
24         RH_1  5.535846e-01
25          rv1  1.015533e+11

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [11]:
from sklearn.linear_model import Ridge

ridgeModel = Ridge(alpha = 0.4)
ridgeModel.fit(x_train,y_train)

rPred = ridgeModel.predict(x_test)

new_rmse = np.sqrt(mean_squared_error(y_test, rPred))
new_rmse = round(new_rmse, 3)
new_rmse

0.088

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [12]:
from sklearn.linear_model import Lasso

lassoModel = Lasso(alpha=0.001)
lassoModel.fit(x_train,y_train)

lPred = lassoModel.predict(x_test)

lassoWeight = get_weights_df(lassoModel,x_train,'L Weight')
lassoWeight

       Features  L Weight
0        RH_out -0.049557
1          RH_8 -0.000110
2            T1  0.000000
3     Tdewpoint  0.000000
4    Visibility  0.000000
5   Press_mm_hg -0.000000
6         T_out  0.000000
7          RH_9 -0.000000
8            T9 -0.000000
9            T8  0.000000
10         RH_7 -0.000000
11          rv1 -0.000000
12           T7 -0.000000
13           T6  0.000000
14         RH_5  0.000000
15           T5 -0.000000
16         RH_4  0.000000
17           T4 -0.000000
18         RH_3  0.000000
19           T3  0.000000
20         RH_2 -0.000000
21           T2  0.000000
22         RH_6 -0.000000
23          rv2 -0.000000
24    Windspeed  0.002912
25         RH_1  0.017880

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [13]:
l_rmse = np.sqrt(mean_squared_error(y_test, lPred))
l_rmse = round(l_rmse,3)
l_rmse

0.094